---
layout: home
title: Dynamii Lab - Home
---
{% include JB/setup %}

<div id="h01">
	<img id="hav" height="50" width="50" src="/imgs/avatar.jpg" >
	<div id="havater-meta">
		<p id="hname"><a href="http://t.qq.com/itrowa" title="Weibo">@itrowa</p>
		<p id="hname-meta">
			<a href="http://www.douban.com/people/trowa/">豆瓣</a> | 
			<a href="http://www.flickr.com/photos/trowa_barton">Flickr</a> | 
			acesolo<span style="display:none">~</span>@<span style="display:none">_@</span>gm<span style="display:none">~~</span>ail.<span style="display:none">....</span>com
		</p>
	</div>
</div>


<ul class="posts">
  {% for post in site.posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<p style="margin-top: 60px; border-top:1px #CCC solid;">
			<script type="text/javascript"
				src = 'http://www.douban.com/service/badge/trowa/?show=collection&amp;select=random&amp;n=8&amp;columns=4&amp;picsize=medium&amp;hidelogo=yes&amp;hideself=yes';>

			</script>
		<p>在 <strong><a href="http://www.douban.com/people/trowa/" title="浏览我的豆瓣">我的豆瓣</strong></a> 上留存有我的部分阅读历史。</p>
</p>