    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for item in site.head_menu %}
              {% if item.url == page.url %}
                <li class="active"><a href="{{item.url}}">{{ item.name }}</a></li>
              {% else %}
                <li ><a href="{{item.url}}">{{ item.name }}</a></li>
              {% endif %}
            {% endfor %}

            {% unless site.head_dp_menu == empty %}
              {% for menu in site.head_dp_menu %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu.name }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for item in menu.items %}
                      {% if item.url == page.url %}
                        <li class="active"><a href="{{item.url}}">{{ item.name }}</a></li>
                      {% elsif item.role == "seperator" %}
                        <li role="separator" class="divider"></li>
                      {% elsif item.role == "header" %}
                        <li class="dropdown-header">{{ item.name }}</li>
                      {% else %}
                        <li ><a href="{{item.url}}">{{ item.name }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            {% endunless %}
          </ul>
          {% unless site.head_right_menu == empty %}
            <ul class="nav navbar-nav navbar-right">
              {% for item in site.head_right_menu %}
                {% if item.url == page.url %}
                  <li class="active"><a href="{{item.url}}">{{ item.name }}</a></li>
                {% else %}
                  <li ><a href="{{item.url}}">{{ item.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endunless %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>
