/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  padding-left: 16px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
  
  
  
 /*
==================================================================
   BELOW ARE ALL
   
 Trowa Custom
 =================================================================
 
 */
#h01 {
height: 80px;
margin-top: 90px;
}
 
#h01 #hav {
float: left;
padding: 3px;
border-radius: 3px;
border: 1px solid #CCC;
}

#h01 #havater-meta {
float: left;
margin-left: 12px;
margin-top: 6px;
}

#h01 p#hname {
font-size: 1.6em;
font-weight: bold;
}

#h01 #hname-meta {
font-size: 12px;
}


/*typography
see 
http://nodejs.in/Entry.css/document.html

this entry.css only apply for container class named 

            .post-full .content
   
   
/**
 * Entry.css
 *
 * @author mzhou / @zhoumm
 * @version 1.5
 */
/* ===========================================================
   Config
   =========================================================== */
/* typekit, mac, windows, linux, default */
/* ==========================================================
   Optional config
   ========================================================== */
/*
 * bug 太多，用途不够广泛
 * 对于pre th td这样的标签就会在firefox下有很多bug
.fake-border-top-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:before,
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-bottom (@color: #CCC, @width: 1px) {
    position: relative;
    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:after {
        bottom: 0;
        left: 0;
    }
}
.fake-border-top (@color: #CCC, @width: 1px) {
    position: relative;
    &:before {
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: @width;
        background-color: @color;
    }
    &:before {
        top: 0;
        left: 0;
    }
}
*/
/* ==========================================================================
   Entry content
   ========================================================================== */
/* ================================================
   Multi-column
   多栏样式，很多浏览器不支持，慎用！
   ================================================ */
.post-full .content {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 640px;
  padding: 0 16px;
  line-height: 2;
  color: #424b50;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif, "Apple Color Emoji";
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* ==========
       Typography
       ========== */
  /* === 块元素 === */
  /* === 行内元素 === */
  /* 强调 */
  /* code */
  /* image & video */
  /* 书名号(han.css) */
  /* 缩写 */
  /* 定义 */
  /* 标记 */
  /* 行内引用 */
  /* 旁注 */
  /* 上下标 */
  /* disqus支持 */
}
.post-full .content div,
.post-full .content p,
.post-full .content blockquote,
.post-full .content pre,
.post-full .content ul,
.post-full .content ol,
.post-full .content table,
.post-full .content figure,
.post-full .content section,
.post-full .content article,
.post-full .content header,
.post-full .content footer {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
.post-full .content div:first-child,
.post-full .content p:first-child,
.post-full .content blockquote:first-child,
.post-full .content pre:first-child,
.post-full .content ul:first-child,
.post-full .content ol:first-child,
.post-full .content table:first-child,
.post-full .content figure:first-child,
.post-full .content section:first-child,
.post-full .content article:first-child,
.post-full .content header:first-child,
.post-full .content footer:first-child {
  margin-top: 0;
}
.post-full .content div:last-child,
.post-full .content p:last-child,
.post-full .content blockquote:last-child,
.post-full .content pre:last-child,
.post-full .content ul:last-child,
.post-full .content ol:last-child,
.post-full .content table:last-child,
.post-full .content figure:last-child,
.post-full .content section:last-child,
.post-full .content article:last-child,
.post-full .content header:last-child,
.post-full .content footer:last-child {
  margin-bottom: 0;
}
.post-full .content ul div,
.post-full .content ol div,
.post-full .content ul p,
.post-full .content ol p,
.post-full .content ul blockquote,
.post-full .content ol blockquote,
.post-full .content ul pre,
.post-full .content ol pre,
.post-full .content ul ul,
.post-full .content ol ul,
.post-full .content ul ol,
.post-full .content ol ol,
.post-full .content ul table,
.post-full .content ol table,
.post-full .content ul figure,
.post-full .content ol figure,
.post-full .content ul iframe,
.post-full .content ol iframe,
.post-full .content ul section,
.post-full .content ol section,
.post-full .content ul article,
.post-full .content ol article,
.post-full .content ul header,
.post-full .content ol header,
.post-full .content ul footer,
.post-full .content ol footer {
  margin-top: 0;
  margin-bottom: 0;
}
.post-full .content > iframe {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}
.post-full .content > img,
.post-full .content > video {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
}
.post-full .content h1,
.post-full .content h2,
.post-full .content h3,
.post-full .content h4,
.post-full .content h5,
.post-full .content h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.post-full .content h1:first-child,
.post-full .content h2:first-child,
.post-full .content h3:first-child,
.post-full .content h4:first-child,
.post-full .content h5:first-child,
.post-full .content h6:first-child {
  margin-top: 0;
}
.post-full .content > h3,
.post-full .content > h4,
.post-full .content > h5,
.post-full .content > h6 {
  margin-top: 32px;
}
.post-full .content > h1,
.post-full .content > h2 {
  margin-top: 64px;
}
.post-full .content h1 + *,
.post-full .content h2 + *,
.post-full .content h3 + *,
.post-full .content h4 + *,
.post-full .content h5 + *,
.post-full .content h6 + * {
  margin-top: 0;
}
.post-full .content h1,
.post-full .content h2,
.post-full .content h3,
.post-full .content h4,
.post-full .content h5,
.post-full .content h6 {
  font-weight: inherit;
  color: #424b50;
  background-color: transparent;
}
.post-full .content h1 a,
.post-full .content h2 a,
.post-full .content h3 a,
.post-full .content h4 a,
.post-full .content h5 a,
.post-full .content h6 a {
  color: #424b50;
}
.post-full .content h1 a,
.post-full .content h2 a,
.post-full .content h3 a,
.post-full .content h4 a,
.post-full .content h5 a,
.post-full .content h6 a,
.post-full .content h1 em,
.post-full .content h2 em,
.post-full .content h3 em,
.post-full .content h4 em,
.post-full .content h5 em,
.post-full .content h6 em,
.post-full .content h1 u,
.post-full .content h2 u,
.post-full .content h3 u,
.post-full .content h4 u,
.post-full .content h5 u,
.post-full .content h6 u,
.post-full .content h1 abbr[title],
.post-full .content h2 abbr[title],
.post-full .content h3 abbr[title],
.post-full .content h4 abbr[title],
.post-full .content h5 abbr[title],
.post-full .content h6 abbr[title] {
  border-bottom-color: #424b50;
}
.post-full .content h1 {
  font-size: 28px;
  line-height: 48px;
  text-align: center;
}
.post-full .content h2 {
  font-size: 21px;
  line-height: 32px;
  text-align: center;
}
.post-full .content h3 {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}
.post-full .content h4,
.post-full .content h5,
.post-full .content h6 {
  line-height: 32px;
  font-size: 16px;
  text-align: left;
}
.post-full .content blockquote {
  position: relative;
  padding: 0 0 0 11px;
  margin: 16px 0;
  font-family: STKaiti, KaiTi, serif;
  border-left: 5px solid #c3cace;
}
.post-full .content li blockquote {
  margin-left: -21px;
}
.post-full .content pre {
  padding: 15px 16px;
  line-height: 16px;
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-family: consolas, monaco, monospace;
  border: 1px solid #e1e1e8;
  border-right: none;
  border-left: none;
  background-color: #f7f7f9;
}
.post-full .content ul,
.post-full .content ol {
  padding-left: 32px;
}
.post-full .content ul li,
.post-full .content ol li {
  margin: 0;
  padding: 0;
  list-style-position: outside;
}
.post-full .content ul li {
  list-style-type: square;
}
.post-full .content ul li ul li {
  list-style-type: disc;
}
.post-full .content ul li ul li ul li {
  list-style-type: circle;
}
.post-full .content ol li {
  list-style-type: decimal;
}
.post-full .content ol li ol li {
  list-style-type: upper-roman;
}
.post-full .content ol li ol li ol li {
  list-style-type: lower-roman;
}
.post-full .content li > ul,
.post-full .content li > ol {
  padding-left: 32px;
}
.post-full .content hr {
  position: relative;
  padding-top: 32px;
  margin-top: -2px;
  margin-bottom: 64px;
  height: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #888888;
}
.post-full .content hr:before,
.post-full .content hr:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 30%;
  height: 2px;
  pointer-events: none;
}
.post-full .content hr:before {
  left: 0;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.post-full .content hr:after {
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 80%, #ffffff 100%);
}
.post-full .content table {
  display: table;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 336px;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}
.post-full .content table caption {
  padding: 0;
}
.post-full .content table thead th {
  text-align: left;
}
.post-full .content table tbody {
  margin: 0 16px;
}
.post-full .content table tbody tr:nth-child(odd) td,
.post-full .content table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.post-full .content table tbody tr:last-child td,
.post-full .content table tbody tr:last-child th {
  padding-bottom: 6px;
}
.post-full .content table td,
.post-full .content table th {
  padding: 8px 16px 7px;
  border: 1px solid #dddddd;
}
.post-full .content iframe {
  vertical-align: text-bottom;
}
.post-full .content a {
  padding-bottom: 0.025em;
  color: #006699;
  text-decoration: none;
  border-bottom-color: #0088cc;
}
.post-full .content a:focus {
  outline: thin dotted;
}
.post-full .content a:visited {
  color: #551a8b;
  border-bottom-color: #551a8b;
}
.post-full .content a:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.post-full .content a:hover,
.post-full .content a:active {
  outline: 0;
}
.post-full .content b,
.post-full .content strong {
  font-weight: bold;
}
.post-full .content u {
  padding-bottom: .05em;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  border-bottom: 1px solid #8b98a0;
}
.post-full .content u + u {
  margin-left: 0.125em;
}
.post-full .content em {
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  -webkit-text-emphasis: filled circle;
  -moz-text-emphasis: filled circle;
  -ms-text-emphasis: filled circle;
  text-emphasis: filled circle;
  -webkit-text-emphasis-position: under;
  -moz-text-emphasis-position: under;
  -ms-text-emphasis-position: under;
  text-emphasis-position: under;
}
.post-full .content code {
  /*deleted*/
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.post-full .content pre code {
  padding: 0;
  margin: 0;
  font-family: consolas, monaco, monospace;
  font-size: 14px;
  color: #424b50;
  border: none;
}
.post-full .content img,
.post-full .content video {
  max-width: 100%;
  border: 0;
}
.post-full .content figure img {
  display: block;
  margin: 0 auto;
}
.post-full .content figure figcaption {
  display: block;
  text-align: center;
  font-style: italic;
}
.post-full .content cite {
  font-style: inherit;
}
.post-full .content cite:before,
.post-full .content cite:after {
  content: "《";
  line-height: inherit;
}
.post-full .content cite:after {
  content: "》";
}
.post-full .content abbr[title] {
  padding-bottom: 0.05em;
  cursor: help;
  border-bottom: 1px dotted #424b50;
}
.post-full .content dfn {
  font-style: italic;
}
.post-full .content mark {
  background: #ffff00;
  color: #424b50;
}
.post-full .content q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.post-full .content small {
  font-size: 80%;
}
.post-full .content sub,
.post-full .content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.post-full .content sup {
  top: -0.5em;
}
.post-full .content sub {
  bottom: -0.25em;
}
.post-full .content #disqus_thread {
  margin-top: 32px;
}
